server:
  port: 8081

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5432/apnasa_auth
    username: postgres
    password: 11907294
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

jwt:
  secret: your-very-secure-secret-key-should-be-very-long-256-bit
  expiration: 3600000   # 1 hour in ms